<!doctype html>
<html lang="es">

  <head>
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    >
    <title>Pawws</title>
    <%- include('modules/globalLinks') %>
    <link rel="stylesheet" href="/stylesheets/allPets.css">
  </head>

  <body>
    <%- include('modules/navbar') %>

    <main>
      <div class="backgradient">
        <div class="container">
          <section>
            <h2 class="text-center pt-5 mb-4">Los integrantes</h2>
            <div class="d-flex">
              <form
                class="d-flex w-100"
                role="search"
                action="/pets/search"
                method="post"
              >
                <button class="fw-bold" type="submit">Buscar</button>
                <input
                  class="form-control me-2"
                  type="search"
                  placeholder="Buscar especie"
                  aria-label="Search"
                  name="search"
                />
              </form>
            </div>
            <p class="fw-bold text-center"><%= typeof message != 'undefined' ? message : null %></p>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 justify-content-center g-3 g-lg-2">
              <% result.forEach((elem) => { %>
              <div class="col">
                <a href="/pets/onePet/<%=elem.pet_id%>">
                  <article>
                    <div >
                      <img class="w-100 h-100 object-fit-cover rounded-3" src="/images/pets/<%= elem.pet_img?elem.pet_img:'defaultImg.webp' %>" alt="">
                    </div>
                    <h4><%=elem.pet_name%></h4>
                  </article>
                </a>
              </div>
              <% }); %>
            </div>
          </section>
        </div>
      </div>
    </main>

    <%- include('modules/footer') %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
      crossorigin="anonymous"
    ></script>
  </body>

</html>