<!doctype html>
<html lang="es">

  <head>
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    >
    <title>Pawws</title>
    <%- include('modules/globalLinks') %>
    <link rel="stylesheet" href="/stylesheets/newPetSelect.css">
  </head>

  <body>
    <%-include('modules/navbar') %>

      <main>
        <div class="backgradient">
          <div class="container">
            <section class="section-form py-5">
              <div class="row gy-4 justify-content-around">
                <div class="col-11 col-md-10 col-lg-6 col-xl-5">
                  <section class="bg-white rounded-4 p-3 shadow-sm">
                    <form 
                      action="" 
                      method="post"
                      enctype="multipart/form-data"
                      >
                      <h2>Registro de mascota</h2>
                      <div
                        data-mdb-input-init
                        class="form-outline mb-4"
                      >
                        <label
                          class="form-label"
                          for="name"
                        >Nombre</label>
                        <input
                          type="text"
                          id="name"
                          class="form-control"
                          name="pet_name"
                        />
                      </div>
                      
                      <div
                        data-mdb-input-init
                        class="form-outline mb-4"
                      >
                        <label
                          class="form-label"
                          for="description"
                        >Descripci칩n</label>
                        <input
                          type="text"
                          id="description"
                          class="form-control"
                          name="pet_description"
                        />
                      </div>

                      <div
                        data-mdb-input-init
                        class="form-outline mb-4"
                      >
                        <label
                          class="form-label"
                          for="adoption_year"
                        >A침o de adopci칩n</label>
                        <input
                          type="number"
                          id="adoption_year"
                          class="form-control"
                          name="adoption_year"
                        />
                      </div>
                      
                      <div
                        data-mdb-input-init
                        class="form-outline mb-4"
                      >
                        <label
                        class="form-label"
                        for="species"
                        >Especie</label>
                        <input
                          type="text"
                          id="species"
                          class="form-control"
                          name="species"
                        />
                      </div>

                      <div class="mb-4">
                        <select name="owner_id" class="form-select" aria-label="Default select example">
                          <option value="">-- Selecciona un/a humano/a --</option>
                          <% result.forEach((elem)=>{ %>
                              <option value="<%= elem.owner_id %>"><%= elem.first_name %> <%= elem.last_name %></option>
                          <% }) %>
                        </select>
                      </div>
                      
                      <div
                        data-mdb-input-init
                        class="form-outline mb-4"
                      >
                        <label
                          class="form-label fw-bold"
                          for="img"
                        >A침ade una imagen</label>
                        <input
                          type="file"
                          id="img"
                          class="form-control"
                          name="img"
                          hidden
                        />
                      </div>
                      
                      <button
                        data-mdb-ripple-init
                        class="btn btn-block mb-4 w-100 btn-sign"
                      >Aceptar</button>
                    </form>
                  </section>
                </div>
                <div class="col-11 col-md-10 col-lg-6 col-xl-5">
                  <img class="w-100 rounded-4 shadow-sm" src="/images/assets/img03.jpg" alt="">
                </div>
              </div>
            </section>
          </div>
        </div>
      </main>

      <%- include('modules/footer') %>

        <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
          crossorigin="anonymous"
        ></script>
  </body>

</html>